{
  "presets": ["flow", "es2015"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-es2015-constants",
    "transform-es2015-block-scoping"
  ]
}
